/* --------- CSS Variables --------- */

:root {
  /* --------- Basic Colors (HSL) --------- */
  --basic-color: hsl(18, 77%, 51%);
  --text-color: hsl(0, 25%, 98%);
  --body-color: hsl(0, 5%, 13%);

  /* --------- Fonts --------- */
  --default-font: "Roboto", sans-serif;
  --basic-font: "Montserrat", sans-serif;

  /* --------- Typography --------- */
  --h1-size: 5rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --text-size: 1rem;
}

/* Media Query Typography For Smaller Screens */

@media (max-width: 600px) {
  :root {
    /* --------- Typography --------- */
    --h1-size: 2.5rem;
    --h2-size: 1.25rem;
    --h3-size: 1rem;
    --text-size: 0.78rem;
  }
}

/* --------- Basic Styles --------- */

body {
  background-color: var(--body-color);
  font-family: var(--default-font);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

/* --------- Reusable CSS --------- */

.btn {
  background: linear-gradient(
    0deg,
    var(--basic-color) 0%,
    rgb(240, 79, 5) 100%
  );
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--text-size);
  background-color: var(--basic-color);
  font-weight: bold;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
  box-shadow: 4px 4px 6px 0 rgba(53, 51, 51, 0.5),
    -4px -4px 6px 0 rgba(50, 58, 67, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

#Section {
  margin-bottom: 2rem;
}

.section__title {
  font-size: 2.5rem;
  margin-left: 0.875rem;
  font-weight: bolder;
  position: relative;
  margin-bottom: 3.75rem;
}

.section__title::before {
  content: '';
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}