@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap");

.About {
  margin-top: 20rem;
  background: linear-gradient(180deg, hsl(0, 5%, 13%), #121111);
  color: white;
  padding: 2rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.About.show {
  max-height: 1000px;
  opacity: 1;
}

.About .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.About h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--basic-color);
}

.About p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: #ddd;
}

.About .left {
  flex: 1;
  text-align: left;
}

.About .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .Mars {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
  animation: rotate 10s linear infinite;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.About.show .Mars {
  opacity: 1;
  animation: rotate 10s linear infinite, fadeIn 2s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.About .btn {
  background: linear-gradient(
    0deg,
    var(--basic-color) 0%,
    rgb(240, 79, 5) 100%
  );
  padding: 1rem 2rem;
  line-height: 1;
  border-radius: 3rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
  animation: bounce 2s infinite;
}

.About .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgb(255, 94, 0) 0%, rgb(240, 60, 5) 100%);
  color: #fff;
  transition: transform 0.2s;
}

.About .btn span {
  display: inline-block;
  transition: transform 0.2s;
}

.About .btn:hover span {
  transform: translateY(-4px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .About .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .About h2 {
    font-size: 1.5rem;
  }
  .About p {
    font-size: 0.9rem;
  }
  .About .btn {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}