.blog__container {
    grid-template-columns: repeat(3, 2fr);
    column-gap: 1.875rem;
}

.blog__card {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blog__thumb {
    position: relative;
    overflow: hidden;
}

.blog__image {
    transform: scale(1);
    transition: .3s;
}

.blog__thumb:hover .blog__img {
    transform: scale(1.1);
}

.blog__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.125rem 0.5rem;
    transition: .3s;
    z-index: 1;
}

.blog__details {
    background-color: var(--container-color);
    padding: 1.25rem;
}

.blog__title {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.blog__meta {
    display: flex;
    column-gap: 0.6rem;
    font-size: var(--small-font-size);
    color: #8b88b1;
}

.blog__dot {
    font-weight: var(--font-bold);
}

.post-filter {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.filter-item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s ease-in-out;
}

.filter-item:hover {
    color: var(--first-color);
}

.active-filter {
    background-color: var(--second-color);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    border-radius: var(--border-radius);
    color: var(--title-color);
}

.post__title {
    font-size: var(--h1-font-size);
    margin-left: 0.875rem;
    font-weight: var(--font-bold);
    position: relative;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.post__title::before {
    content: '';
    background-image: url('../../assets/dots-bg.svg');
    height: 2.25rem;
    width: 2.5em;
    position: absolute;
    left: -0.875rem;
    top: -0.875rem;
}

.post__summary {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: var(--small-font-size);
    margin-left: 0.875rem;
    font-weight: var(--font-semibold);
}

.post__details {
    font-weight: var(--font-bold);
    color: var(--title-color);
    background-color: var(--second-color);
    width: 35%;
    margin-left: 0.50rem;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: .3s;
}

.post__details:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
    background-color: var(--light-color);
}

.post__img {
    border-radius: var(--border-radius);
    transition: .3s;
}

.post__img:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
}

.Section {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

@media screen and (max-width: 1024px) {
    .blog__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .blog__container {
        grid-template-columns: 310px;
    }
}